.mod-mini-search{
    &-header,
    &-footer{
        display: none;
    }
    .ems-form{
        .ems-field{
            input{
                text-align: left;
                border-radius: $radius;
                height: 40px;
                line-height: 28px;
            }
            input::placeholder{
                font-family: $regular;
                color: rgba(0,0,0,1);
            }
            &.submit{
                position: absolute;
                width: 30px;
                height: 30px;
                right: 5px;
                top: 50%;
                z-index: 1;
                margin-top: -15px;
                @include transition(opacity  333ms ease-in-out);
                min-width: inherit;
                a.btnDefault {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0;
                    background: none;
                    border: none;
                    @include transition(opacity 333ms ease-in-out);
                    span{
                        display: block;
                        font-size: inherit;
                        i.icon-ico_search{
                            font-size: 20px;
                            line-height: 30px;
                            &:before{
                                font-size: 20px;
                                color:$darkBlack;
                            }   
                        }
                        .discount-search{display:none;}
                    }
                }
            }
            span[id$="lbfkutuArama1"] {
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                height: 30px;
                z-index: 1;
                display: inline-block;
                cursor: pointer;
                @include transition(opacity 333ms ease-in-out);
                text-align: center;
                display: none;
                .ems-mb-search-close{
                    i{
                        line-height: 30px;
                    }
                    i, i:before{
                        font-size: 20px;
                        color:$lDark;
                    }
                }
            }
        }
    }
}

.searchSuggestDiv{
    position: fixed !important;
    .searchSuggestDivHolder{
        @include flex();
        justify-content: space-between;
        .wordSearch {
            order: 1;
            flex-basis: 25%;
            padding-top: 20px;
            .sHolder{
                &:before{
                    content:'Önerilen Aramalar';
                    display: block;
                    font-size: 14px;
                    font-family: $avenir-bold;
                    padding: 10px 30px;
                    letter-spacing: 1px;
                }
                .suggest_link {
                    padding-left: 30px;
                    padding-right: 30px;
                    display: block !important;
                    a{
                        font-family: $regular;
                        color: #000;
                        font-size: 16px;
                        display: inline-block;
                        padding-top: 7px;
                        padding-bottom: 7px;
                    }
                }
            }
        }
        .cat, .prd{
            padding-top: 20px;
            h3{
                font-size: 14px;
                font-family: $avenir-bold;
                padding: 10px 30px;
                letter-spacing: 1px;
            }
            .sHolder{
                padding-right: 30px;
                width: 100%;
                max-height: 325px;
                overflow-x: hidden;
            }
        }
        .cat{
            .sHolder{
                .suggest_link{
                    padding-left: 30px;
                    padding-right: 30px;
                    a{
                        font-family: $regular;
                        color: #000;
                        font-size: 16px;
                        display: inline-block;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        @media screen and (min-width: 850px){
                            &:hover{
                                color: $red;
                            }
                        }
                    }
                }
            }
        }
        .prd{
            small{ display: none; }
            .sHolder{
                &:before, &:after{
                    content:'';
                    display: table;
                    width: 100%;
                    height: 0;
                    overflow: hidden;
                    font-size: 0;
                    clear: both;
                }
                .suggest_link, .suggest_link_over{
                    padding-bottom: 10px;
                    padding-left: 30px;
                    cursor: pointer !important;
                    border-top: 1px solid $Gray;
                    &:first-child{border-top: none;}
                    table{
                        tbody{
                            tr{
                                display: table;
                                width: 100%;
                                th{
                                    width: 100px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    img{ max-width:100px; width: 100%; }
                                }
                                td{
                                    width: auto;
                                    span{
                                        &.suggest_urnprice.emos_invisible{
                                            display: inline-block !important;
                                            font-family: $bold;
                                            &:before{
                                                font-family: $tl;
                                                content:'t';
                                                font-size: 12px;
                                                font-weight: 600;
                                                padding-right: 2px;
                                            }
                                        }
                                    }
                                    > span, > span b{
                                        font-size: 14px;
                                        font-family: $regular;
                                        font-weight: normal;
                                    }
                                    &:nth-child(2),
                                    &:nth-child(4){
                                        display: table-cell;
                                        vertical-align: middle;
                                    }
                                    &:nth-child(2){
                                        padding-left: 10px;
                                        line-height: 20px;
                                        min-height: 40px;
                                        max-height: 40px;
                                        overflow: hidden;
                                        width: 70%;
                                    }
                                    &:nth-child(4){
                                        width: 30%;
                                        text-align: right;
                                    }
                                    &:nth-child(3), &:nth-child(5), &:nth-child(6){display:none;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .dvTumunuGoster{
        display: block !important;
        flex-grow: 2;
        flex-shrink: 2;
        flex-basis: 100%;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        order: 5;
        @media screen and (min-width: 850px){
            padding-left: 25px;
        }
        .btnArama{
            max-width: 500px;
            margin: 0 auto;
            padding-top:23px;
            padding-bottom:23px;
            @media screen and (min-width: $breakpointXSM){
                background: #fff;
                &:hover{
                    color: $red;
                }
            }
        }
    }
}

@media screen and (min-width: 850px){
    body.search-keyup{overflow: hidden;}

    .searchSuggestDiv{
        display: none;
        opacity: 0;
        .prd{
            flex-basis: 50%;
            max-width: 500px;
            background: #fff;
            padding-right: 35px;
        }
        .cat{
            flex-basis: 25%;
        }
        .cat{order: 3;}
        .prd{order: 2;}
        .prd, .cat{
            ::-webkit-scrollbar {
                width: 5px;
            }
            ::-webkit-scrollbar-track {
                background: $Gray;
            }
            ::-webkit-scrollbar-thumb {
                background: $lDark;
            }
            ::-webkit-scrollbar-thumb:window-inactive {
                background: $lDark;
            }
        }
        .searchSuggestDivHolder{
            max-width: 1220px;
            margin: 0 auto;
            flex-wrap: wrap;
            padding-left: 30px;
            padding-right: 30px;
        }
    }  
    .searchSuggestDiv{
        background: #f8f8f8;
        border-top: solid 1px $Gray;
        top: 60px;
        width: 100%; 
        left:0 !important;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .search-keyup{
        .searchSuggestDiv{
            @include animation(opacityVail .2s ease-in-out);
            display: block;
            opacity: 1;
        }
        .vailSearch{opacity: 1; visibility: visible;}
    }
}

@media screen and (max-width: $breakpointXSM){
    .vailSearch{display: none !important; }

    .mod-mini-search{
        &-header{
            display: none;
            .ems-desktop-case-visible{
                > a{
                    display: block;
                    padding: 5px 40px 5px 20px; 
                    height: 40px;
                    line-height: 30px;
                    border: none;
                    border-radius: 1px;
                    text-align: left;
                    background: #fff;
                    position: relative;
                    i.icon-ico_search{
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        margin-top: -15px;
                    }
                    i.icon-ico_search, i.icon-ico_search:before{
                        font-size: 20px;
                        color: #000;
                    }
                    span{
                        font-size:14px;
                        font-family: $mediumAA;
                        color: #757575;
                    }
                }
            }
        }
        &-body{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 20;
            background: #fff;
            @include transition(transform 333ms ease-in-out);
            @include setTransform(translateX(-100%));
        }
        .ems-form{
            max-width: 100%;
            &-inner{
                padding-top: 0;
                padding-bottom: 0;
            }
            .ems-field{
                &.text{
                    width: 100%;
                    display: block;
                }
                input{
                    max-width: 100%;
                    padding: 5px 65px 5px 65px; 
                    height: 60px;
                    line-height: 50px;
                    font-size:25px;
                    font-family: $regular;
                    color: #000000;
                    border: none;
                    border-radius: 0;
                    text-align: left;
                    background: #fbfbfb;
                    &::-webkit-input-placeholder{ color: transparent;}
                    &:-moz-placeholder{ color: transparent;}
                    &::-moz-placeholder{ color: transparent;}
                    &:-ms-input-placeholder{ color: transparent;}
                }
                &.submit{
                    a.btnDefault{
                        position: fixed;
                        top:15px;
                        left: 20px;
                        width: 30px;
                        height: 30px;
                        transition: none;
                        text-align: center;
                        z-index: 1;
                        span{
                            i.icon-ico_search, i.icon-ico_search:before{
                                font-size: 20px;
                                color: $lDark;
                            }
                        }
                    }
                }
                span[id$="lbfkutuArama1"] {
                    position: fixed;
                    top:15px;
                    right:20px;
                    width: 30px;
                    height: 30px;
                    transition: none;
                    text-align: center;
                    z-index: 1;
                    display: block;
                    .ems-mb-search-close{
                        .icon-ico_crossed{line-height: 30px;}
                        .icon-ico_crossed, .icon-ico_crossed:before{
                            font-size: 15px;
                            color: $lDark;
                        }
                    }
                }
            }
        }
    }

    /*Ana sayfa özel*/
    .ems-home-page-layout{
        .mobile-element-search-wrap{
            .mod-mini-search{
                &-header{
                    display: block;
                    padding: 10px;
                    background: $Gray;
                }
            }
        }
    }
    
    .searchSuggestDiv{
        position: fixed !important;
        top: inherit !important;
        bottom: -100%;
        left: 0 !important;
        background:#fff;
        margin: 0 auto;
        width: 97%;
        max-width: 97%;
        height: calc(100% - 80px);
        z-index:25 !important;
        padding: 10px 15px 20px 20px;
        @include animation(suggestMb 333ms ease-in-out);
        ::-webkit-scrollbar {
            width: 5px;
        }
        ::-webkit-scrollbar-track {
            background: $Gray;
        }
        ::-webkit-scrollbar-thumb {
            background: $lDark;
        }
        ::-webkit-scrollbar-thumb:window-inactive {
            background: $lDark;
        }
        .searchSuggestDivHolder{
            position: absolute;
            bottom: 80px;
            left: 0;
            width: 100%;
            height: calc(100% - 80px);
            overflow-x: hidden;
            @include flexDirection(column);
            padding-left: 20px;
            padding-right: 15px;
            .dvTumunuGoster.emos_invisible {
                width: calc(100% - 80px);
                max-width: calc(100% - 80px);
                position: fixed;
                bottom: 20px;
                left: 0;
                right: 0;
                .btnArama{
                    border: 1px solid #000;
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
            .wordSearch{
                padding-top: 0;
                .sHolder{
                    &:before{
                        padding-top:20px;    
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .suggest_link{padding-left: 0; padding-right: 0;}
                }
            }
            .prd, .cat{
                h3{
                    padding-top:20px;
                    padding-left: 0;
                    padding-right: 0;
                }
                .sHolder{
                    padding-right: 0;
                    max-height: inherit;
                    overflow-x: inherit;
                }
            }
            .prd{
                order: 1;
                padding-top: 10px;
                h3{display: none;}
                .sHolder{
                    .suggest_link, .suggest_link_over{
                        padding-left: 0;
                        border-top: 0;
                        border-bottom: 2px solid $Gray;
                        table{
                            tbody{
                                tr{
                                    th{
                                        width: 80px;
                                        img{ max-width:80px; width: 100%; }
                                    }
                                    td{
                                        > span, > span b{
                                            font-size: 14px;
                                            font-family: $regular;
                                            color: $darkBlack;
                                            font-weight: normal;
                                        }                                    
                                        span.suggest_urnprice.emos_invisible{
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .cat{
                order: 3;
                margin-top: 20px;
                padding-top: 0;
                border-top: 2px solid $Gray;
                .sHolder{
                    .suggest_link{
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
    .search-ready, .search-fixed-ready{
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .search-ready, .search-fixed-ready{
        .mod-mini-search-body{
            @include setTransform(translateX(0));
        }
    }
    .search-keyup {
        .searchSuggestDiv{
            bottom: 0;
        }
    }    
}