//$baseHref: '//cosmetica.proj-e.com';
$baseHref: '';

$marginAuto: 0 auto 0 auto;
$singleOuter: 1.6rem;

$siteContainerWidth: 1220px;
$siteContainerWidthMiddle: 100%;
$siteContainerWidthFull: 100%;

$regular: "regular";
$mediumA: "mediumA";
$bold: "bold";
$regularA: "regularA";
$mediumAA: "mediumA";
$avenir-bold: "avenir-bold";
$avenir-medium: "avenir-medium";
$federic: "federic";
$tl:"tl";

$ltSpace:0.5px;

$Gray:#e1e1e1;
$dGray:#a2a5ac;

$lDark:#000000;
$light:#6f6f6f;
$darkBlack:#000000;
$btnHover: #380FBF;

$red:#ee0676;
$Pink:#fef0f7;
$Blue:#4849ff;
$gold: #ffb604;
$White: #ffffff;

$green:#2dad6c;
$lGreen: #5ffcad;

$fbBtnColor:#3656b7;
$btnColor: #000000;
$btnAlternateColor:#7b58f5;

$radius: 3px;

$border:#d3d3d3;
$inputborder:#d3d3d3;